<h2>Products: {{user.first_name}} (<a href="/profile">{{user.email}}</a>) - role: {{user.role}} [<a href="/carts/{{user.cart}}">My Cart</a>] [<a href="/api/sessions/logout">Logout</a>]</h2>
<hr />
<div align="center">
    {{#if paginateInfo.hasPrevPage}}
        <a href="{{paginateInfo.prevLink}}">Anterior</a>
    {{/if}}
    {{#each paginateInfo.totalPages}}
        <a href="{{this.link}}">{{this.page}}</a>
    {{/each}}
    {{#if paginateInfo.hasNextPage}}
        <a href="{{paginateInfo.nextLink}}">Siguiente</a>
    {{/if}}
</div>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <td></td>
            <td><strong>Producto</strong></td>
            <td><strong>Descripción</strong></td>
            <td><strong>Precio</strong></td>
            <td><strong>Código</strong></td>
            <td><strong>Stock</strong></td>
            <td><strong>Categoría</strong></td>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td><button class="btn btn-success" onclick="addProductToCart('{{this._id}}')">AddToCart</button></td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td>{{this.code}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.category}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script>
    addProductToCart = (pid, cid) => {
        fetch(`/api/carts/{{user.cart}}/product/${pid}`, {
            method: 'post'
        })
            .then(result => result.json())
            .then(result => {
                if (result.status === 'error') throw new Error(result.error)
                alert(`Ok. Todo salió bien! :)\nEl producto se agregó al carrito con id=${result.payload._id}!`)
            })
            .catch(err => alert(`Ocurrió un error :(\n${err}`))
        
    }
</script>
