<h1>Realtime products</h1>
<hr />
<form id="createForm">
    <div class="m-2">Title: <input type="text" id="title"></div>
    <div class="m-2">Description: <input type="text" id="description"></div>
    <div class="m-2">Price: <input type="text" id="price"></div>
    <div class="m-2">Code: <input type="text" id="code"></div>
    <div class="m-2">Stock: <input type="text" id="stock"></div>
    <div class="m-2">Category: <input type="text" id="category"></div>
</form>
<button id="createBtn" class="btn btn-primary">Create Product</button>
<hr />
<table id="realProductsTable" class="table table-striped">
    <thead>
        <tr>
            <td></td>
            <td><strong>Producto</strong></td>
            <td><strong>Descripción</strong></td>
            <td><strong>Precio</strong></td>
            <td><strong>Código</strong></td>
            <td><strong>Stock</strong></td>
            <td><strong>Categoría</strong></td>
        </tr>
    </thead>
    <tbody>
    {{#each products}}
        <tr>
            <td><button class="btn btn-danger" onclick="deleteProduct('{{this._id}}')">Eliminar</button></td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td>{{this.code}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.category}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>